/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.focus-session-content {
	padding: 10px;
}

.focus-session-content h2 {
	margin-top: 0;
}

.focus-session-spacer {
	height: 10px;
}
